<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CSS Portal - Layout</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../fragment.css}"/>
    <script src="../../jquery-3.2.1.min.js"></script>
    <script th:inline="javascript">
        function retrieveNoteDetail(url) {
            $("#noteDetail").load(url);
        }
        function retrieveAllNotes() {
            var username = /*[[${#authentication.name}]]*/;
            var url = "/api/users/" + username + "/notes";
            $.getJSON(url, function (data) {
                console.log(data);
                writeNoteDetail(data);
                document.getElementById("noteDetail").innerHTML = data[0].title;
            });
            console.log("notes"); //see that this is printed before data
        }
        function writeNoteDetail(data) {
            var noteDetail = document.getElementById("noteDetail");
            var content = writeOneNoteDetail(i);
            var buttons =
            content = content + buttons;
        }
    </script>
</head>
<body>
<script>retrieveAllNotes()</script>
<div id="show-data"></div>


    <div id="wrapper">
        <div id="headerwrap">
        <div id="header">
            <div th:replace="fragment/header :: header"></div>
        </div>
        </div>
        <div id="leftcolumnwrap">
        <div id="leftcolumn">
            <div th:replace="fragment/notes :: notes"></div>
        </div>
        </div>
        <div id="contentwrap">
        <div id="content">
           <div th:replace="fragment/noteDetail :: noteDetail"></div>
        </div>
        </div>
    </div>
</body>
</html>
