<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">>
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div align="right" th:fragment="header">
    Logged user: <span sec:authentication="name"></span>
    Roles: <span sec:authentication="principal.authorities"></span>
    <div>Another way: <span th:text="${#authentication.name}">
        The value of the "name" property of the authentication object should appear here.
    </span></div>
</div>

</body>
</html>