<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
</head>
<body>
<div id="noteDetail" th:fragment="noteDetail">
    <div th:if="${noteLab.title != null}">
        <h2 th:text="${noteLab.title}">Title</h2>
        <div><strong>Date Creation: </strong><span th:text="${noteLab.dateCreation}">Creation date</span></div>
        <div><strong>Date Edit: </strong><span th:text="${noteLab.dateEdit}">Edit date</span></div>
        <div><strong>Content: </strong><span th:text="${noteLab.content}">Content</span></div>
    </div>
</div>
</body>
</html>