<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
</head>
<body>
<div th:fragment="notes">
    <h3>Notes</h3>
    <ul>
        <li th:each="noteLab,iter : ${notes}">
            <a th:onclick="'retrieveNoteDetail(\'http://localhost:8080' + ${#strings.concat('/currentUser/notes/',iter.index)} + '\')'">
            <span th:text="${noteLab.title}">Title</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>