<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create User</title>
</head>
<body>

<div align="center">

<h1>Register User</h1>
ç
<form method="POST" th:object="${userLab}">
    <table>
        <tr>
            <td><label>First Name</label>:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label>Last Name</label>:</td>
            <td><input type="text" th:field="*{secondName}"/></td>
        </tr>
        <tr>
            <td><label>Email</label>:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td><label>Username</label>:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
    </table>

    <input type="submit" value="Create User" />


</form>
</div>
</body>
</html>